:root{
    --text-color: #fff;
    --background-color: #333;
}

html{
    font-size: 55%;
}

@media (max-width: 600px){
    html{
        font-size: 50%;
    }
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.6
}

h1, h2, h3, h4, h5, h6, p, ul, ol, figure{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}